# Exploração Inicial e Processamento de Dados

Verificacao e pré-processamento de dados para utilização de modelos.

In [1029]:
import pandas as pd
import numpy as np

In [1030]:
# Carregando o dataset de treino
train_df = pd.read_csv('../data/raw/train.csv')
train_df.head()

C:\Users\Raphael\AppData\Local\Temp\ipykernel_25428\710402656.py:2: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  train_df = pd.read_csv('../data/raw/train.csv')

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [1031]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  object
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 21.4+ MB

In [1032]:
train_df.shape

(100000, 28)

### Entendendo os dados

ID - Representa uma identificação exclusiva de uma entrada

Customer_ID - Representa uma identificação única de uma pessoa

Month - Representa o mês do ano

Name - Representa o nome de uma pessoa

Age - Representa a idade da pessoa

SSN - Representa o número do seguro social de uma pessoa

Occupation - Representa a ocupação da pessoa

Annual_Income - Representa a renda anual da pessoa

Monthly_Inhand_Salary - Representa o salário base mensal de uma pessoa

Num_Bank_Accounts - Representa o número de contas bancárias que uma pessoa possui

Num_Credit_Card - Representa o número de cartoes de credito que uma pessoa possui

Interest_Rate - Representa a taxa de juro

Num_of_Loan - Representa a quantidade de emprestimos que uma pessoa possui

Type_of_Loan - Representa o tipo de emprestimo que uma pessoa possui

Delay_from_due_date - Representa o atraso do pagamento na data do vencimento

Num_of_Delayed_Payment - Representa o numero de pagamentos em atraso

Changed_Credit_Limit - Representa a alteracao do limite de credito

Num_Credit_Inquiries - Representa a quantidade de consultas de credito

Credit_Mix - Representa a diversidade de creditos

Outstanding_Debt - Representa a divida pendente

Credit_Utilization_Ratio - Representa a taxa de utilizacao de credito

Credit_History_Age - Representa o tempo do historico de credito

Payment_of_Min_Amount - Representa o pagamento minido do valor

Total_EMI_per_month - Representa o total da parcela equivalente por mes

Amount_invested_monthly - Representa o valor investido mensalmente

Payment_Behaviour - Representa o comportamento do pagamento 

Monthly_Balance - Representa o saldo mensal        

Credit_Score -  Representa o score de credito

In [1033]:
train_df.isnull().sum()

ID                              0
Customer_ID                     0
Month                           0
Name                         9985
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary       15002
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                11408
Delay_from_due_date             0
Num_of_Delayed_Payment       7002
Changed_Credit_Limit            0
Num_Credit_Inquiries         1965
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age           9030
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      4479
Payment_Behaviour               0
Monthly_Balance              1200
Credit_Score                    0
dtype: int64

## Pré-Processamento

Padronizacao dos dados, consistindo nas etapas de:

* Padronizacao de caixa baixa (colunas)
* Transfomaçao de valores _string para _float
* Transformaçao de features

In [1034]:
df_transformed = train_df.copy()
df_transformed.columns = train_df.columns.str.lower()

df_transformed.head()

,id,customer_id,month,name,age,ssn,occupation,annual_income,monthly_inhand_salary,num_bank_accounts,...,credit_mix,outstanding_debt,credit_utilization_ratio,credit_history_age,payment_of_min_amount,total_emi_per_month,amount_invested_monthly,payment_behaviour,monthly_balance,credit_score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [1035]:
df_transformed.isnull().sum()

id                              0
customer_id                     0
month                           0
name                         9985
age                             0
ssn                             0
occupation                      0
annual_income                   0
monthly_inhand_salary       15002
num_bank_accounts               0
num_credit_card                 0
interest_rate                   0
num_of_loan                     0
type_of_loan                11408
delay_from_due_date             0
num_of_delayed_payment       7002
changed_credit_limit            0
num_credit_inquiries         1965
credit_mix                      0
outstanding_debt                0
credit_utilization_ratio        0
credit_history_age           9030
payment_of_min_amount           0
total_emi_per_month             0
amount_invested_monthly      4479
payment_behaviour               0
monthly_balance              1200
credit_score                    0
dtype: int64

In [1036]:
df_transformed.describe()

,monthly_inhand_salary,num_bank_accounts,num_credit_card,interest_rate,delay_from_due_date,num_credit_inquiries,credit_utilization_ratio,total_emi_per_month
count,84998.000000,100000.000000,100000.00000,100000.000000,100000.000000,98035.000000,100000.000000,100000.000000
mean,4194.170850,17.091280,22.47443,72.466040,21.068780,27.754251,32.285173,1403.118217
std,3183.686167,117.404834,129.05741,466.422621,14.860104,193.177339,5.116875,8306.041270
min,303.645417,-1.000000,0.00000,1.000000,-5.000000,0.000000,20.000000,0.000000
25%,1625.568229,3.000000,4.00000,8.000000,10.000000,3.000000,28.052567,30.306660
50%,3093.745000,6.000000,5.00000,13.000000,18.000000,6.000000,32.305784,69.249473
75%,5957.448333,7.000000,7.00000,20.000000,28.000000,9.000000,36.496663,161.224249
max,15204.633333,1798.000000,1499.00000,5797.000000,67.000000,2597.000000,50.000000,82331.000000

As colunas a seguir nao serao utilizadas pois elas nao conseguem ser simuladas por um serviço projetado para valiacao de score de credito, devido a dados inconsistentes ou por nao serem necessarios.

In [1037]:
#drop de colunas que nao serao utilizadas
df_transformed.drop("id", axis=1, inplace=True)
df_transformed.drop("customer_id", axis=1, inplace=True)
df_transformed.drop("month", axis=1, inplace=True)
df_transformed.drop("name", axis=1, inplace=True)
df_transformed.drop("ssn", axis=1, inplace=True)
df_transformed.drop("age", axis=1, inplace=True)
df_transformed.drop("occupation", axis=1, inplace=True)
df_transformed.drop("type_of_loan", axis=1, inplace=True)
df_transformed.drop("credit_history_age", axis=1, inplace=True)
df_transformed.drop("payment_behaviour", axis=1, inplace=True)


df_transformed.head()

,annual_income,monthly_inhand_salary,num_bank_accounts,num_credit_card,interest_rate,num_of_loan,delay_from_due_date,num_of_delayed_payment,changed_credit_limit,num_credit_inquiries,credit_mix,outstanding_debt,credit_utilization_ratio,payment_of_min_amount,total_emi_per_month,amount_invested_monthly,monthly_balance,credit_score
0,19114.12,1824.843333,3,4,3,4,3,7,11.27,4.0,_,809.98,26.822620,No,49.574949,80.41529543900253,312.49408867943663,Good
1,19114.12,NaN,3,4,3,4,-1,NaN,11.27,4.0,Good,809.98,31.944960,No,49.574949,118.28022162236736,284.62916249607184,Good
2,19114.12,NaN,3,4,3,4,3,7,_,4.0,Good,809.98,28.609352,No,49.574949,81.699521264648,331.2098628537912,Good
3,19114.12,NaN,3,4,3,4,5,4,6.27,4.0,Good,809.98,31.377862,No,49.574949,199.4580743910713,223.45130972736786,Good
4,19114.12,1824.843333,3,4,3,4,6,NaN,11.27,4.0,Good,809.98,24.797347,No,49.574949,41.420153086217326,341.48923103222177,Good

In [1038]:
df_transformed.isnull().sum()

annual_income                   0
monthly_inhand_salary       15002
num_bank_accounts               0
num_credit_card                 0
interest_rate                   0
num_of_loan                     0
delay_from_due_date             0
num_of_delayed_payment       7002
changed_credit_limit            0
num_credit_inquiries         1965
credit_mix                      0
outstanding_debt                0
credit_utilization_ratio        0
payment_of_min_amount           0
total_emi_per_month             0
amount_invested_monthly      4479
monthly_balance              1200
credit_score                    0
dtype: int64

Limpeza e transformacao dos dados

In [1039]:
df_transformed['annual_income'].unique()

array(['19114.12', '34847.84', '34847.84_', ..., '20002.88', '39628.99',
       '39628.99_'], dtype=object)

In [1040]:
#transformacao de valores
df_transformed['annual_income'] = df_transformed['annual_income'].str.replace('_','').astype(float)
df_transformed['annual_income'].unique()

array([ 19114.12,  34847.84, 143162.64, ...,  37188.1 ,  20002.88,
        39628.99])

In [1041]:
df_transformed['monthly_inhand_salary'].isnull().sum()

15002

In [1042]:
df_transformed['monthly_inhand_salary'] = df_transformed['monthly_inhand_salary'].replace(np.nan,0)
df_transformed['monthly_inhand_salary'].isnull().sum()

0

In [1043]:
df_transformed['num_bank_accounts'] = df_transformed['num_bank_accounts'].replace('-','')

In [1044]:
df_transformed.shape

(100000, 18)

In [1079]:
df_transformed['num_of_loan'].unique()

array([   4,    1,    3,  967,  100,    0,    2,    7,    5,    6,    8,
          9, 1464,  622,  352,  472, 1017,  945,  146,  563,  341,  444,
        720, 1485,   49,  737, 1106,  466,  728,  313,  843,  597,  617,
        119,  663,  640,   92, 1019,  501, 1302,   39,  716,  848,  931,
       1214,  186,  424, 1001, 1110, 1152,  457, 1433, 1187,   52, 1480,
       1047, 1035, 1347,   33,  193,  699,  329, 1451,  484,  132,  649,
        995,  545,  684, 1135, 1094, 1204,  654,   58,  348,  614, 1363,
        323, 1406, 1348,  430,  153, 1461,  905, 1312, 1424, 1154,   95,
       1353, 1228,  819, 1006,  795,  359, 1209,  590,  696, 1185, 1465,
        911, 1181,   70,  816, 1369,  143, 1416,  455,   55, 1096, 1474,
        420, 1131,  904,   89, 1259,  527, 1241,  449,  983,  418,  319,
         23,  238,  638,  138,  235,  280, 1070, 1484,  274,  494, 1459,
        404, 1354, 1495, 1391,  601, 1313, 1319,  898,  231,  752,  174,
        961, 1046,  834,  284,  438,  288, 1463, 1151,  719,  198, 1015,
        855,  841,  392, 1444,  103, 1320,  745,  172,  252,  630,  241,
         31,  405, 1217, 1030, 1257,  137,  157,  164, 1088, 1236,  777,
       1048,  613,  330, 1439,  321,  661,  952,  939,  562, 1202,  302,
        943,  394,  955, 1318,  936,  781, 1329, 1365,  860,  217,  191,
         32,  282,  351, 1387,  757,  416,  833,  292, 1225, 1227,  639,
        859,  243,  267,  510,  332,  996,  311,  492,  820,  336,  123,
        540,  131, 1311, 1441,  895,  891,   50,  940,  935,  596,   29,
       1182, 1129, 1014,  251,  365,  291, 1447,  742, 1085,  148,  462,
        832,  881, 1412,  785, 1127,  910,  538,  999,  733,  101,  237,
         87,  659,  633,  387,  447,  629,  831, 1384,  773,  621, 1419,
        289,  285, 1393,   27, 1359, 1482, 1189, 1294,  201,  579,  814,
        141,  581, 1171,  295,  290,  433,  679, 1040, 1054, 1430, 1023,
       1077, 1457, 1150,  701, 1382,  889,  437,  372, 1222,  126, 1159,
        868,   19, 1297,  227,  190,  809, 1216, 1074,  571,  520, 1274,
       1340,  991,  316,  697,  926,  873, 1002,  378,   65,  875,  867,
        548,  652, 1372,  606, 1036, 1300,   17, 1178,  802, 1219, 1271,
       1137, 1496,  439,  196,  636,  192,  228, 1053,  229,  753, 1296,
       1371,  254,  863,  464,  515,  838, 1160, 1289, 1298,  799,  182,
        574,  242,  415,  869,  958,   54, 1265,  656,  275,  778,  208,
        147,  350,  507,  463,  497,  927,  653,  662,  529,  635, 1027,
        897, 1039, 1345,  924, 1279,  546, 1112, 1210,  526,  300, 1103,
        504,  136, 1400,   78,  686, 1091,  344,  215,   84,  628, 1470,
        968, 1478,   83, 1196, 1307, 1132, 1008,  917,  657,   56,   18,
         41,  801,  978,  216,  349,  966], dtype=int64)

In [1046]:
df_transformed['num_of_loan'] = df_transformed['num_of_loan'].str.replace('_','')
df_transformed['num_of_loan'] = df_transformed['num_of_loan'].str.replace('-','')
df_transformed['num_of_loan'].dtype

dtype('O')

In [1047]:
df_transformed['delay_from_due_date'].unique()

array([ 3, -1,  5,  6,  8,  7, 13, 10,  0,  4,  9,  1, 12, 11, 30, 31, 34,
       27, 14,  2, -2, 16, 17, 15, 23, 22, 21, 18, 19, 52, 51, 48, 53, 26,
       43, 28, 25, 20, 47, 46, 49, 24, 61, 29, 50, 58, 45, 59, 55, 56, 57,
       54, 62, 65, 64, 67, 36, 41, 33, 32, 39, 44, 42, 60, 35, 38, -3, 63,
       40, 37, -5, -4, 66], dtype=int64)

In [1048]:
df_transformed['delay_from_due_date'] = df_transformed['delay_from_due_date'].apply(lambda x: 0 if x < 0 else x)

In [1049]:
df_transformed['num_of_delayed_payment'].unique()

array(['7', nan, '4', '8_', '6', '1', '-1', '3_', '0', '8', '5', '3', '9',
       '12', '15', '17', '10', '2', '2_', '11', '14', '20', '22', '13',
       '13_', '14_', '16', '12_', '18', '19', '23', '24', '21', '3318',
       '3083', '22_', '1338', '4_', '26', '11_', '3104', '21_', '25',
       '10_', '183_', '9_', '1106', '834', '19_', '24_', '17_', '23_',
       '2672', '20_', '2008', '-3', '538', '6_', '1_', '16_', '27', '-2',
       '3478', '2420', '15_', '707', '708', '26_', '18_', '3815', '28',
       '5_', '1867', '2250', '1463', '25_', '7_', '4126', '2882', '1941',
       '2655', '2628', '132', '3069', '306', '0_', '3539', '3684', '1823',
       '4128', '1946', '827', '2297', '2566', '904', '182', '929', '3568',
       '2503', '1552', '2812', '1697', '3764', '851', '3905', '923', '88',
       '1668', '3253', '808', '2689', '3858', '642', '3457', '1402',
       '1732', '3154', '847', '3037', '2204', '3103', '1063', '2056',
       '1282', '1841', '2569_', '211', '793', '3484', '411', '3491',
       '2072', '3050', '1049', '2162', '3402', '2753', '27_', '1718',
       '1014', '3260', '3855', '84', '2311', '3251', '1832', '4069',
       '3010', '733', '4241', '166', '2461', '1749', '3200', '663_',
       '2185', '4161', '3009', '359', '2015', '1523', '594', '1079',
       '1199', '186', '1015', '1989', '281', '559', '2165', '1509',
       '3545', '779', '192', '4311', '-2_', '2323', '1471', '1538',
       '3529', '439', '3456', '3040', '2697', '3179', '1332', '3175',
       '3112', '829', '4022', '3870', '4023', '531', '1511', '3092',
       '3191', '2400', '3621', '3536', '544', '1864', '28_', '142',
       '2300', '264', '72', '497', '398', '2222', '3960', '1473', '3043',
       '4216', '2903', '2658', '-1_', '4042', '1323_', '2184', '921',
       '1328', '3404', '2438', '809', '47', '1996', '4164', '1370',
       '1204', '2167', '4011', '2590', '2594', '2533', '1663', '1018',
       '2919', '3458', '3316', '2589', '2801', '3355', '2529', '2488',
       '4266', '1243', '739', '845', '4107', '1884', '337', '2660', '290',
       '674', '2450', '3738', '1792', '2823', '2570', '775', '960', '482',
       '1706', '2493', '3623', '3031', '2794_', '2219_', '758_', '1849',
       '3559', '4096', '3726', '1953', '2657', '4043', '2938', '4384',
       '1647', '2694', '3533', '519', '2677', '2413', '-3_', '4139',
       '2609', '4326', '4211', '823', '3011', '1608', '2860', '4219',
       '4047', '1531', '742', '52', '4024', '1673', '49', '2243', '1685',
       '1869', '2587', '3489', '749', '1164', '2616', '848_', '4134',
       '1530', '1502', '4075', '3845', '1060', '2573', '2128', '328',
       '640', '2585', '2230', '1795', '1180', '1534', '3739', '3313',
       '4191', '996', '372', '3340', '3177', '602', '787', '4135', '3878',
       '4059', '1218', '4051', '1766', '1359', '3107', '585', '1263',
       '2511', '709', '3632', '4077', '2943', '2793', '3245', '2317',
       '1640', '2237_', '3819', '252', '3978', '1498', '1833', '2737',
       '1192', '1481', '700', '271', '2286', '273', '1215', '3944',
       '2070', '1478', '3749', '871', '2508', '2959', '130', '294',
       '3097_', '3511', '415', '2196', '2138', '2149', '1874', '1553',
       '3847', '3222', '1222', '2907', '3051', '98', '1598', '416',
       '2314', '2955', '1691', '1450', '2021', '1636', '80', '3708',
       '195', '320', '2945', '1911', '3416', '3796', '4159', '2255',
       '938', '4397', '3776', '2148', '1994', '853', '1178', '1633',
       '196', '3864', '714', '1687', '1034', '468', '1337', '2044',
       '1541', '3661', '1211', '2645', '2007', '102', '1891', '3162',
       '3142', '2566_', '2766', '3881', '2728', '2671', '1952', '3580',
       '2705', '4251', '3840_', '972', '3119', '3502', '4185', '2954',
       '683', '1614', '1572', '4302', '3447', '1852', '2131', '1900',
       '1699', '133', '2018', '2127', '508', '210', '577', '1664', '2604',
       '1411', '2351', '867', '1371', '2352', '1191', '905', '4053',
       '3869', '933', '3660', '3300', '3629', '3208', '2142', '2521',
       '450', '583', '876', '121', '3919', '2560', '2578', '2060', '813',
       '1236', '1489', '4360', '1154', '2544', '4172', '2924', '426',
       '4270', '2768', '3909', '3951', '2712', '2498', '3171', '1750',
       '197', '2569', '265', '4293', '887', '2707', '2397', '4337',
       '4249', '2751', '2950', '1859', '107', '2348', '2506', '2810',
       '2873', '1301', '2262', '1890', '3078', '3865', '3268', '2777',
       '3105', '1278', '3793', '2276', '2879', '4298', '2141', '223',
       '2239', '846', '1862', '2756', '1181', '1184', '2617', '3972',
       '2334', '3900', '2759', '4169', '2280', '2492', '2729', '3750',
       '1825', '309', '2431', '3099', '2080', '2279', '2666', '3722',
       '1976', '529', '1985', '3060', '4278', '3212', '46', '3148',
       '3467', '4231', '3790', '473', '1536', '3955', '2324', '2381',
       '1177', '371', '2896', '3880', '2991', '4319', '1061', '662',
       '4144', '693', '2006', '3115', '2278_', '3751', '1861', '4262',
       '2913', '2615', '3492', '800', '3766', '384', '3407', '1087',
       '3329', '1086', '2216', '1087_', '2457', '3522', '3274', '3488',
       '2854', '238', '351', '3706', '4280', '4095', '2926', '1329',
       '3370', '283', '1392', '1743', '2429', '974', '3156', '1133',
       '4388', '3243', '4282', '2523', '4281', '3415', '2001', '441',
       '94', '3499', '969', '3368', '106', '1004', '2638', '3946', '2956',
       '4324', '85', '4113', '819', '615', '1172', '2553', '1765', '3495',
       '2820', '4239', '4340', '1295_', '2636', '4295', '1653', '1325',
       '1879', '1096', '1735', '3584', '1073', '1975', '3827', '2552',
       '3754', '2378', '532', '926', '2376', '3636', '3763', '778',
       '2621', '804', '754', '2418', '4019', '3926', '3861_', '3574',
       '175', '162', '2834', '3765', '2354', '523', '2274', '1606',
       '1443', '1354', '2142_', '1422', '2278', '1045', '4106', '3155',
       '666', '659', '3229', '1216', '2076', '1473_', '2384', '1954',
       '719', '2534', '4002', '541', '2875', '4344', '2081', '3894',
       '1256', '676', '4178', '399', '86', '1571', '4037', '1967', '4005',
       '3216', '1150', '2591', '1801', '3721', '1775', '2260', '3707',
       '4292', '1820', '145', '1480', '1850', '430', '217', '3920_',
       '1389', '1579', '3391', '2385', '3336', '3392', '3688', '221',
       '2047'], dtype=object)

In [1050]:
df_transformed['num_of_delayed_payment'] = df_transformed['num_of_delayed_payment'].str.replace('_','')
df_transformed['num_of_delayed_payment'] = df_transformed['num_of_delayed_payment'].str.replace('-','')
df_transformed['num_of_delayed_payment'] = df_transformed['num_of_delayed_payment'].replace(np.nan,0)

In [1051]:
df_transformed['num_of_delayed_payment'].unique()

array(['7', 0, '4', '8', '6', '1', '3', '0', '5', '9', '12', '15', '17',
       '10', '2', '11', '14', '20', '22', '13', '16', '18', '19', '23',
       '24', '21', '3318', '3083', '1338', '26', '3104', '25', '183',
       '1106', '834', '2672', '2008', '538', '27', '3478', '2420', '707',
       '708', '3815', '28', '1867', '2250', '1463', '4126', '2882',
       '1941', '2655', '2628', '132', '3069', '306', '3539', '3684',
       '1823', '4128', '1946', '827', '2297', '2566', '904', '182', '929',
       '3568', '2503', '1552', '2812', '1697', '3764', '851', '3905',
       '923', '88', '1668', '3253', '808', '2689', '3858', '642', '3457',
       '1402', '1732', '3154', '847', '3037', '2204', '3103', '1063',
       '2056', '1282', '1841', '2569', '211', '793', '3484', '411',
       '3491', '2072', '3050', '1049', '2162', '3402', '2753', '1718',
       '1014', '3260', '3855', '84', '2311', '3251', '1832', '4069',
       '3010', '733', '4241', '166', '2461', '1749', '3200', '663',
       '2185', '4161', '3009', '359', '2015', '1523', '594', '1079',
       '1199', '186', '1015', '1989', '281', '559', '2165', '1509',
       '3545', '779', '192', '4311', '2323', '1471', '1538', '3529',
       '439', '3456', '3040', '2697', '3179', '1332', '3175', '3112',
       '829', '4022', '3870', '4023', '531', '1511', '3092', '3191',
       '2400', '3621', '3536', '544', '1864', '142', '2300', '264', '72',
       '497', '398', '2222', '3960', '1473', '3043', '4216', '2903',
       '2658', '4042', '1323', '2184', '921', '1328', '3404', '2438',
       '809', '47', '1996', '4164', '1370', '1204', '2167', '4011',
       '2590', '2594', '2533', '1663', '1018', '2919', '3458', '3316',
       '2589', '2801', '3355', '2529', '2488', '4266', '1243', '739',
       '845', '4107', '1884', '337', '2660', '290', '674', '2450', '3738',
       '1792', '2823', '2570', '775', '960', '482', '1706', '2493',
       '3623', '3031', '2794', '2219', '758', '1849', '3559', '4096',
       '3726', '1953', '2657', '4043', '2938', '4384', '1647', '2694',
       '3533', '519', '2677', '2413', '4139', '2609', '4326', '4211',
       '823', '3011', '1608', '2860', '4219', '4047', '1531', '742', '52',
       '4024', '1673', '49', '2243', '1685', '1869', '2587', '3489',
       '749', '1164', '2616', '848', '4134', '1530', '1502', '4075',
       '3845', '1060', '2573', '2128', '328', '640', '2585', '2230',
       '1795', '1180', '1534', '3739', '3313', '4191', '996', '372',
       '3340', '3177', '602', '787', '4135', '3878', '4059', '1218',
       '4051', '1766', '1359', '3107', '585', '1263', '2511', '709',
       '3632', '4077', '2943', '2793', '3245', '2317', '1640', '2237',
       '3819', '252', '3978', '1498', '1833', '2737', '1192', '1481',
       '700', '271', '2286', '273', '1215', '3944', '2070', '1478',
       '3749', '871', '2508', '2959', '130', '294', '3097', '3511', '415',
       '2196', '2138', '2149', '1874', '1553', '3847', '3222', '1222',
       '2907', '3051', '98', '1598', '416', '2314', '2955', '1691',
       '1450', '2021', '1636', '80', '3708', '195', '320', '2945', '1911',
       '3416', '3796', '4159', '2255', '938', '4397', '3776', '2148',
       '1994', '853', '1178', '1633', '196', '3864', '714', '1687',
       '1034', '468', '1337', '2044', '1541', '3661', '1211', '2645',
       '2007', '102', '1891', '3162', '3142', '2766', '3881', '2728',
       '2671', '1952', '3580', '2705', '4251', '3840', '972', '3119',
       '3502', '4185', '2954', '683', '1614', '1572', '4302', '3447',
       '1852', '2131', '1900', '1699', '133', '2018', '2127', '508',
       '210', '577', '1664', '2604', '1411', '2351', '867', '1371',
       '2352', '1191', '905', '4053', '3869', '933', '3660', '3300',
       '3629', '3208', '2142', '2521', '450', '583', '876', '121', '3919',
       '2560', '2578', '2060', '813', '1236', '1489', '4360', '1154',
       '2544', '4172', '2924', '426', '4270', '2768', '3909', '3951',
       '2712', '2498', '3171', '1750', '197', '265', '4293', '887',
       '2707', '2397', '4337', '4249', '2751', '2950', '1859', '107',
       '2348', '2506', '2810', '2873', '1301', '2262', '1890', '3078',
       '3865', '3268', '2777', '3105', '1278', '3793', '2276', '2879',
       '4298', '2141', '223', '2239', '846', '1862', '2756', '1181',
       '1184', '2617', '3972', '2334', '3900', '2759', '4169', '2280',
       '2492', '2729', '3750', '1825', '309', '2431', '3099', '2080',
       '2279', '2666', '3722', '1976', '529', '1985', '3060', '4278',
       '3212', '46', '3148', '3467', '4231', '3790', '473', '1536',
       '3955', '2324', '2381', '1177', '371', '2896', '3880', '2991',
       '4319', '1061', '662', '4144', '693', '2006', '3115', '2278',
       '3751', '1861', '4262', '2913', '2615', '3492', '800', '3766',
       '384', '3407', '1087', '3329', '1086', '2216', '2457', '3522',
       '3274', '3488', '2854', '238', '351', '3706', '4280', '4095',
       '2926', '1329', '3370', '283', '1392', '1743', '2429', '974',
       '3156', '1133', '4388', '3243', '4282', '2523', '4281', '3415',
       '2001', '441', '94', '3499', '969', '3368', '106', '1004', '2638',
       '3946', '2956', '4324', '85', '4113', '819', '615', '1172', '2553',
       '1765', '3495', '2820', '4239', '4340', '1295', '2636', '4295',
       '1653', '1325', '1879', '1096', '1735', '3584', '1073', '1975',
       '3827', '2552', '3754', '2378', '532', '926', '2376', '3636',
       '3763', '778', '2621', '804', '754', '2418', '4019', '3926',
       '3861', '3574', '175', '162', '2834', '3765', '2354', '523',
       '2274', '1606', '1443', '1354', '1422', '1045', '4106', '3155',
       '666', '659', '3229', '1216', '2076', '2384', '1954', '719',
       '2534', '4002', '541', '2875', '4344', '2081', '3894', '1256',
       '676', '4178', '399', '86', '1571', '4037', '1967', '4005', '3216',
       '1150', '2591', '1801', '3721', '1775', '2260', '3707', '4292',
       '1820', '145', '1480', '1850', '430', '217', '3920', '1389',
       '1579', '3391', '2385', '3336', '3392', '3688', '221', '2047'],
      dtype=object)

In [1052]:
df_transformed['credit_mix'].unique()

array(['_', 'Good', 'Standard', 'Bad'], dtype=object)

In [1053]:
df_transformed['credit_mix'] = df_transformed['credit_mix'].str.replace('_','None')

In [1054]:
df_transformed['credit_mix'].unique()

array(['None', 'Good', 'Standard', 'Bad'], dtype=object)

In [1055]:
df_transformed["payment_of_min_amount"].unique()

array(['No', 'NM', 'Yes'], dtype=object)

In [1056]:
df_transformed['payment_of_min_amount'] = df_transformed['payment_of_min_amount'].str.replace('NM','None')

In [1057]:
df_transformed['amount_invested_monthly'] = df_transformed['amount_invested_monthly'].replace({'__10000__': np.nan})

In [1058]:
df_transformed['monthly_balance'] = df_transformed['monthly_balance'].replace({'__-333333333333333333333333333__': np.nan})

In [1059]:
df_transformed['monthly_balance'].isnull().sum()

1209

In [1060]:
df_transformed['monthly_balance'] = df_transformed['monthly_balance'].replace(np.nan,0)

In [1061]:
df_transformed['monthly_balance'].isnull().sum()

0

In [1062]:
df_transformed['num_credit_inquiries'].isnull().sum()

1965

In [1063]:
df_transformed['num_credit_inquiries'] = df_transformed['num_credit_inquiries'].replace(np.nan,0)
df_transformed['num_credit_inquiries'].isnull().sum()

0

In [1064]:
df_transformed['changed_credit_limit'] = df_transformed['changed_credit_limit'].str.replace('-','')
df_transformed['changed_credit_limit'] = df_transformed['changed_credit_limit'].str.replace('_','')
df_transformed['changed_credit_limit'] = df_transformed['changed_credit_limit'].replace({'': 0})

In [1065]:
df_transformed['changed_credit_limit'].unique()

array(['11.27', 0, '6.27', ..., '17.509999999999998', '25.16', '21.17'],
      dtype=object)

In [1066]:
df_transformed["credit_utilization_ratio"].unique()

array([26.82261962, 31.94496006, 28.60935202, ..., 41.25552226,
       33.63820798, 34.19246265])

In [1067]:
df_transformed["total_emi_per_month"].unique()

array([4.95749492e+01, 1.88162146e+01, 2.46992319e+02, ...,
       1.21120000e+04, 3.51040226e+01, 5.86380000e+04])

In [1068]:
df_transformed["amount_invested_monthly"].unique()

array(['80.41529543900253', '118.28022162236736', '81.699521264648', ...,
       '24.02847744864441', '251.67258219721603', '167.1638651610451'],
      dtype=object)

In [1069]:
df_transformed['amount_invested_monthly'] = df_transformed['amount_invested_monthly'].replace(np.nan,0)

In [1070]:
df_transformed['amount_invested_monthly'].isnull().sum()

0

In [1071]:
df_transformed['outstanding_debt'].unique()

array(['809.98', '605.03', '1303.01', ..., '3571.7_', '3571.7', '502.38'],
      dtype=object)

In [1072]:
df_transformed['outstanding_debt'] = df_transformed['outstanding_debt'].str.replace('_','')

In [1073]:
df_transformed.isnull().sum()

annual_income               0
monthly_inhand_salary       0
num_bank_accounts           0
num_credit_card             0
interest_rate               0
num_of_loan                 0
delay_from_due_date         0
num_of_delayed_payment      0
changed_credit_limit        0
num_credit_inquiries        0
credit_mix                  0
outstanding_debt            0
credit_utilization_ratio    0
payment_of_min_amount       0
total_emi_per_month         0
amount_invested_monthly     0
monthly_balance             0
credit_score                0
dtype: int64

Convertendo os tipos de dados para cada coluna, convertendo os tipos adequados, ou seja, valores numericos deverao ser convertidos para inteiro.

In [1074]:

df_transformed['annual_income'] = df_transformed['annual_income'].astype(float)
df_transformed['outstanding_debt'] = df_transformed['outstanding_debt'].astype(float)
df_transformed['num_of_loan'] = pd.to_numeric(df_transformed['num_of_loan'], errors='coerce').fillna(0).astype(np.int64)
df_transformed['num_of_delayed_payment'] = pd.to_numeric(df_transformed['num_of_delayed_payment'], errors='coerce').fillna(0).astype(np.int64)
df_transformed['monthly_balance'] = df_transformed['monthly_balance'].astype(float)
df_transformed['amount_invested_monthly'] = df_transformed['amount_invested_monthly'].astype(float)
df_transformed['changed_credit_limit'] = df_transformed['changed_credit_limit'].astype(float)

df_transformed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 18 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   annual_income             100000 non-null  float64
 1   monthly_inhand_salary     100000 non-null  float64
 2   num_bank_accounts         100000 non-null  int64
 3   num_credit_card           100000 non-null  int64
 4   interest_rate             100000 non-null  int64
 5   num_of_loan               100000 non-null  int64
 6   delay_from_due_date       100000 non-null  int64
 7   num_of_delayed_payment    100000 non-null  int64
 8   changed_credit_limit      100000 non-null  float64
 9   num_credit_inquiries      100000 non-null  float64
 10  credit_mix                100000 non-null  object
 11  outstanding_debt          100000 non-null  float64
 12  credit_utilization_ratio  100000 non-null  float64
 13  payment_of_min_amount     100000 non-null  object
 14  total_emi_per_month       100000 non-null  float64
 15  amount_invested_monthly   100000 non-null  float64
 16  monthly_balance           100000 non-null  float64
 17  credit_score              100000 non-null  object
dtypes: float64(9), int64(6), object(3)
memory usage: 13.7+ MB

In [1075]:
df_transformed.duplicated().sum()

0

One-Hot Enconding

In [1076]:
df_transformed = pd.get_dummies(df_transformed, dtype=int, columns=['credit_mix'], prefix='credit_mix')
df_transformed = pd.get_dummies(df_transformed, dtype=int, columns=['payment_of_min_amount'], prefix='payment_of_min_amount')
df_transformed = pd.get_dummies(df_transformed, dtype=int, columns=['credit_score'], prefix='credit_score')

df_transformed.head()

,annual_income,monthly_inhand_salary,num_bank_accounts,num_credit_card,interest_rate,num_of_loan,delay_from_due_date,num_of_delayed_payment,changed_credit_limit,num_credit_inquiries,...,credit_mix_Bad,credit_mix_Good,credit_mix_None,credit_mix_Standard,payment_of_min_amount_No,payment_of_min_amount_None,payment_of_min_amount_Yes,credit_score_Good,credit_score_Poor,credit_score_Standard
0,19114.12,1824.843333,3,4,3,4,3,7,11.27,4.0,...,0,0,1,0,1,0,0,1,0,0
1,19114.12,0.000000,3,4,3,4,0,0,11.27,4.0,...,0,1,0,0,1,0,0,1,0,0
2,19114.12,0.000000,3,4,3,4,3,7,0.00,4.0,...,0,1,0,0,1,0,0,1,0,0
3,19114.12,0.000000,3,4,3,4,5,4,6.27,4.0,...,0,1,0,0,1,0,0,1,0,0
4,19114.12,1824.843333,3,4,3,4,6,0,11.27,4.0,...,0,1,0,0,1,0,0,1,0,0

In [1077]:
df_transformed.shape

(100000, 25)

## Export

In [1078]:
df_transformed.to_csv('../data/processed/credit-score-processed.csv', index=False)